<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>E-MONITORING</title>
        <link href="stylesheets/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-gradient-navy-to-info">
        <div id="layoutAuth">
            <div id="layoutAuth_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-2">Create Account</h3>
                                    </div>
                                    <div class="card-body">
                                        <form action="/saveusers" method="POST">
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name= "nama_user" id="inputLastName" type="text" placeholder="Enter long name" required />
                                                        <label for="inputLastName">Nama Lengkap</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name="no_telepon" id="inputNoTelp" type="number" placeholder="Enter No Telepon" required />
                                                        <label for="inputNoTelp">No. Telepon</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name= "jabatan" id="inputJabatan" type="text" placeholder="name@example.com" required />
                                                        <label for="inputJabatan">Jabatan</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name= "alamat_user" id="inputLastName" type="text" placeholder="Enter long name" required />
                                                        <label for="inputLastName">Alamat Lengkap</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name= "email" id="inputEmail" type="email" placeholder="name@example.com" required />
                                                        <label for="inputEmail">Email address</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <select class="form-select" name= "role" id="floatingSelect" aria-label="Floating label select example" required />
                                                            <option selected>select menu</option>
                                                            <option value="admin">ADMIN</option>
                                                            <option value="petugas">PETUGAS</option>
                                                        </select>
                                                        <label for="floatingSelect">Role</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name= "password" id="inputPassword" type="password" placeholder="Create a password" required />
                                                        <label for="inputPassword">Password</label>
                                                        <button type="button" class="btn btn-outline-black btn-sm position-absolute top-50 end-0 translate-middle-y me-3" id="togglePassword" tabindex="-1">
                                                            <i class="fa fa-eye" id="toggleIcon"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mx-auto d-flex justify-content-center">Sign Up</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuth_footer">
                <footer class="bg-gradient-navy-to-info text-white py-3">
                <%- include('../partials/footer') %>
                </footer>
            </div>
        </div>
        <%- include('../partials/script') %>
    </body>
</html>
