<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Dashboard E-Monitoring</title>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link href="/stylesheets/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANMas7Lyrx6xcbO7fN4tENQScTVwaG794&loading=async&libraries=places&callback=initMap"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANMas7Lyrx6xcbO7fN4tENQScTVwaG794"></script>
    <style>
        #map {
            height: 500px; /* Set the height of the map */
            width: 100%; /* Set the width of the map */
        }
    </style>