<div class="text-xxl-start">
    <div class="badge bg-gradient-navy-to-info mx-auto justify-content-center text-white mb-4"><div class="text-uppercase">PT.PLN (Persero) &middot; UP3 &middot; Gresik</div></div>
    <div class="fs-3 fw-light">
        <h5>
            <figure class="text-center">
                <blockquote class="blockquote">
                  <p>Listrik untuk Kehidupan yang Lebih Baik.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Motto in <cite title="Source Title">PLN</cite>
                </figcaption>
              </figure>
        </h5>
    </div>
    <div class="mb-2">
      <span class="text-black mt-2">NAMA = <%= nama_user %></span>
    </div>
    <div class="mb-2">
      <span class="text-black mt-2">JABATAN = <%= jabatan %></span>
    </div>
    <div class="mb-2">
      <span class="text-black mt-2">NO. TELP = <%= no_telepon %></span>
    </div>
    <div class="mb-2">
      <span class="text-black mt-2">ALAMAT = <%= alamat_user %></span>
    </div>
</div>
